{% extends "layout.html" %}
{% block title %}
  <title>Categories</title>
{% endblock title %}
{% block content %}
<div class="flex-container">
  <a href="/category/action/page=1" target="_self"><div>Action</div></a>
  <a href="/category/adventure/page=1" target="_self"><div>Adventure</div></a>
  <a href="/category/animation/page=1" target="_self"><div>Animation</div></a>
  <a href="/category/comedy/page=1" target="_self"><div>Comedy</div></a>
  <a href="/category/crime/page=1" target="_self"><div>Crime</div></a>
  <a href="/category/documentary/page=1" target="_self"><div>Documentary</div></a>
  <a href="/category/drama/page=1" target="_self"><div>Drama</div></a>
  <a href="/category/family/page=1" target="_self"><div>Family</div></a>
  <a href="/category/fantasy/page=1" target="_self"><div>Fantasy</div></a>
  <a href="/category/history/page=1" target="_self"><div>History</div></a>
  <a href="/category/horror/page=1" target="_self"><div>Horror</div></a>
  <a href="/category/music/page=1" target="_self"><div>Music</div></a>
  <a href="/category/mystery/page=1" target="_self"><div>Mystery</div></a>
  <a href="/category/romance/page=1" target="_self"><div>Romance</div></a>
  <a href="/category/scifi/page=1" target="_self"><div>Sci-Fi</div></a>
  <a href="/category/thriller/page=1" target="_self"><div>Thriller</div></a>
  <a href="/category/war/page=1" target="_self"><div>War</div></a>
  <a href="/category/western/page=1" target="_self"><div>Western</div></a>
</div>
{% endblock content %}
