{% extends "layout.html" %}
{% block title %}
  <title>Категории</title>
{% endblock title %}
{% block content %}
<div class="flex-container">
  <a href="/category/action/" target="_blank"><div>Акција</div></a>
  <a href="/category/adventure/" target="_blank"><div>Авантура</div></a>
  <a href="/category/animation/" target="_blank"><div>Анимација</div></a>
  <a href="/category/comedy/" target="_blank"><div>Комедија</div></a>
  <a href="/category/crime/" target="_blank"><div>Криминалистика</div></a>
  <a href="/category/documentary/" target="_blank"><div>Документарни</div></a>
  <a href="/category/drama/" target="_blank"><div>Драма</div></a>
  <a href="/category/family/" target="_blank"><div>Фамилијарни</div></a>
  <a href="/category/fantasy/" target="_blank"><div>Фантазија</div></a>
  <a href="/category/history/" target="_blank"><div>Историја</div></a>
  <a href="/category/horror/" target="_blank"><div>Хорор</div></a>
  <a href="/category/music/" target="_blank"><div>Музика</div></a>
  <a href="/category/mystery/" target="_blank"><div>Мистерија</div></a>
  <a href="/category/romance/" target="_blank"><div>Романтика</div></a>
  <a href="/category/scifi/" target="_blank"><div>Научна фантастика</div></a>
  <a href="/category/thriller/" target="_blank"><div>Трилер</div></a>
  <a href="/category/war/" target="_blank"><div>Војни</div></a>
  <a href="/category/western/" target="_blank"><div>Вестерн</div></a>
</div>
{% endblock content %}
