{% extends "layout.html" %}
{% block title %}
  <title>Category</title>
{% endblock title %}
{% block content %}
<div class="flex-container">
  <div><a href="/category/action/" target="_blank">Акција</a></div>
  <div><a href="/category/adventure/" target="_blank">Авантура</div>
  <div><a href="/category/animation/" target="_blank">Анимација</div>
  <div><a href="/category/comedy/" target="_blank">Комедија</div>
  <div><a href="/category/crime/" target="_blank">Криминалистика</div>
  <div><a href="/category/documentary/" target="_blank">Документарни</div>
  <div><a href="/category/drama/" target="_blank">Драма</div>
  <div><a href="/category/family/" target="_blank">Фамилијарни </div>
  <div><a href="/category/fantasy/" target="_blank">Фантазија</div>
  <div><a href="/category/history/" target="_blank">Историја</div>
  <div><a href="/category/horror/" target="_blank">Хорор</div>
  <div><a href="/category/music/" target="_blank">Музика</div>
  <div><a href="/category/mystery/" target="_blank">Мистерија</div>
  <div><a href="/category/romance/" target="_blank">Романтика</div>
  <div><a href="/category/scifi/" target="_blank">Научна фантастика</div>
  <div><a href="/category/thriller/" target="_blank">Трилер</div>
  <div><a href="/category/war/" target="_blank">Војни</div>
  <div><a href="/category/western/" target="_blank">Вестерн</div>
</div>
{% endblock content %}
