{% extends "layout.html" %}
{% block title %}
<title>Login</title>
{% endblock %}
  {% block content %}
  <h3 class="h3-login-register">Login</h3>
  <form class="form" action="" method="POST">
    {{ form.hidden_tag() }}
    <fieldset>
      <div class="email">
        {{ form.email.label(class="label") }}
        {% if form.email.errors %}
          {{ form.email(class="input") }}
          <div>
            {% for error in form.email.errors %}
              <span>{{ error }}</span>
            {% endfor %}
            </div>
        {% else %}
          {{ form.email(class="input") }}
        {% endif %}
        </div>
        <div class="password">
          {{ form.password.label(class="label") }}
          {% if form.password.errors %}
            {{ form.password(class="input") }}
            <div>
              {% for error in form.password.errors %}
                <span>{{ error }}</span>
              {% endfor %}
              </div>
          {% else %}
            {{ form.password(class="input") }}
          {% endif %}
          </div>
          <div class="rmb-btn">
            {{ form.button.label(class="label") }}
            {{ form.button(class="rmb-btn") }}
            </div>
            <p>{{wrong}}</p>
            <div class="submit-btn-login-div">
              {{ form.submit(class="submit-btn") }}
              </div>
    </fieldset>
  </form>
    {% endblock content %}
