{% extends "layout.html" %}
{% block title %}
<title>{{ m_detail.title }}</title>
{% endblock %}
{% block content %}
<h3 class="h3-movie-title">{{ m_detail.title }}</h3>
<div class="movie-container">
  <div class="movie-cover">
  <img class="movie_detail_img detail_2" src="https://image.tmdb.org/t/p/w780{{ m_detail.poster_path }}">
  </div>
  <div class="movie-description">
  <p>{{ m_detail.overview }}</p>
  <table class="movie-table">
    <tr class="movie-tr">
      <td class="movie-td">Release Date:</td>
      <td class="movie-td2">{{ m_detail.release_date }}</td>
      </tr>
      <tr class="movie-tr">
        <td class="movie-td">Genre:</td>
        <td class="movie-td2 genre_names">{{ genre }} {{ genre_2 }} {{ genre_3 }}</td>
        </tr>
      <tr class="movie-tr">
        <td class="movie-td">Runtime:</td>
        <td class="movie-td2">{{ m_detail.runtime }} minutes</td>
        </tr>
        <tr class="movie-tr">
          <td class="movie-td">Popularity:</td>
          <td class="movie-td2 movie-td3">{{ m_detail.popularity }}</td>
          </tr>
          <tr class="movie-tr">
            <td class="movie-td">Rating:</td>
            <td class="movie-td2">{{ m_detail.vote_average }}</td>
            </tr>
    </table>
    <a href="#">
      <i style="font-size:24px" class="fa" onclick="AddFavorites()">&#xf004;</i>
      </a>
  </div>
  </div>
{% endblock content %}
