@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

p, label, h3, span, h4{
  color: white;
}

header{
  border-bottom: 1px solid white;
  padding-bottom: 10px;
}

.header_container{
  display: flex;
  position: relative;
}

.header_container > li {
  display: flex;
}

.navbar_menu{
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
}

.search-bar{
  margin-top: 40px;
  margin-left: 20px;
}

.register_nav{
  margin-top: 40px;
  position: absolute;
  right:50px;
}

.login_nav{
  margin-top: 40px;
  position: absolute;
  right: 170px;
}

li, a {
  font-weight: 500;
  font-size: 1em;
  text-decoration: none;
  color: white;
}

a:hover{
  text-decoration: none;
}

.form-control{
  padding: 0;
  padding-left: 5px;
}

.svg-icon {
  width: 2em;
  height: 2em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #4691f6;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}

.svg-wrap{
  display: flex;
  justify-content: center;
}

svg{
  display: flex;
  justify-content: center;
  margin: 2em 5em;
}

footer{
  border-top: 1px solid white;
  color: #0349fc;
}

.input{
  display: block;
}

.h3-popular{
  margin-left: 5.5%;
  margin-top: 30px;
  margin-bottom: 0px;
}

.width_height{
  margin: 0 auto;
  display: inline-block;
  justify-content: center;
  vertical-align: top;
  margin-top: 20px;
  margin-bottom: 20px;
}

.width_height img{
  width: 160px;
  margin-left: 7px;
}

.width_height img:hover, .search-container img:hover{
  border:1px solid #0349fc;
}

.width_height > a:hover, .search-container > a:hover{
  opacity: 0.7;
}

.movie-details{
  width: 160px;
  margin-left: 7px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 80px;
}

.movie-details-text{
  margin-top: 10px;
}

.container1{
  width: 91%;
  height: 380px;
  margin-left: 5%;
}

.carousel-control-prev, .carousel-control-next{
  width: 4%;
  height: 300px;
  margin-top: 20px;
}

.carousel-control-next{
  margin-right: 0.5%;
}

.carousel-control-prev{
  margin-left: 0.5%;
}

.carousel-control-prev-icon, .carousel-control-next-icon{
  width: 40px;
  height: 40px;
}

.h3-login-register{
  margin-top: 25px;
  margin-bottom: 50px;
}

.h3-login-register, .form{
  display: flex;
  justify-content: center;
}

.input{
  width: 300px;
}

.username, .email, .password, .password-confirm{
  margin-bottom: 25px;
}

.submit-btn-register-div, .submit-btn-login-div{
  display: block;
  position: relative;
  margin-top: 15%;
}

.submit-btn-register-div{
  display: flex;
  justify-content: center;
  margin-bottom: 225px;
}

.submit-btn-login-div{
  margin-bottom: 339px;
  left: 75px;
}

.submit-btn{
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  padding: 5px 50px;
  background-color: transparent;
}

.submit-btn:hover{
  border: 1px solid #0349fc;
}

.movie_detail_img{
  width: 100%;
  height: 600px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.detail_2{
  width: 300px;
}

.poster_container{
  display: flex;
  justify-content: center;
}

.poster_container_2{
  display: flex;
  flex-direction: column;
}

.movie_detail_img_2{
  display: block;
  width:100%;
  height:300px;
  transform: scale(1);
  padding-top: 5px;
  padding-bottom: 5px;
}

.movie_detail_img:hover, .movie_detail_img_2:hover{
  border:1px solid #0349fc;
  opacity: 0.7;
}

.movie-container{
  display: flex;
  width: 50%;
  margin-left: 25%;
  margin-bottom: 214px;
}

.h3-movie-title{
  margin-top: 20px;
  margin-bottom: 40px;
  text-align: center;
}

.movie-table{
  display: table;
  color: white;
}

.movie-description{
  padding-left: 20px;
  padding-top: 10px;
  padding-right: 20px;
}

.movie-td{
  color: #7c7d7c;
  width: 50px;
  padding-right: 50px;
}

.movie-td, .movie-td2{
  padding-top: 10px;
}

.width_height  img{
  width: 160px;
  height: 280px;
}

.search-container{
  margin: 0 auto;
  display: inline-block;
  justify-content: center;
  vertical-align: top;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 17px;
}

.search-container img{
  width: 160px;
  margin-left: 7px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.flex-container > a {
  display: block;
  border: 1px solid white;
  width: 220px;
  height: 150px;
  margin: 30px;
  text-align: center;
  font-size: 20px;
  text-decoration: none;
}

.flex-container > a > div {
  margin-top: 50px;
  margin-left: 15px;
  margin-right: 15px;
  color: white;
}

.flex-container > a:hover{
  color: #262729;
  background-color: rgba(5,46,211, 0.5);
}

.movie-details-text-search{
  margin-top: -17px;
}

.fa{
  color: white;
  margin-top: 20px;
  margin-left: 20px;
}

.register_container{
  margin: 0 auto;
  text-align: center;
}

.register_btn{
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 1.4em;
  padding: 10px 10px;
  border-radius: 2%;
  background-color: #D39E05;
  border: 1px solid #D39E05;
  color: white;
}

.register_btn:hover{
  background-color: transparent;
}

.register_btn > a{
  color: white;
  text-decoration: none;
}

.register_container_logged{
  margin: 0 auto;
  text-align: center;
  margin-top: 100px;
}

body::-webkit-scrollbar {
  display: none;
}

body{
  background-image: url(background.jpg);
  background-size: 50% 50%;
  backdrop-filter: blur(1px);
  overflow-y: scroll;
  }

.logo2{
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 50px;
  width: 180x;
  height: 90px;
}

.text-container{
  margin: 0 auto;
  width: 35%;
  border-left: 2px solid white;
  border-right: 2px solid white;
  padding: 0 30px;
}

.text-container > p{
  font-size: 1.4em;
}

.my_profile_h3{
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
}

.fav_movies{
  margin-left: 20px;
}