@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
}

li, a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1em;
  text-decoration: none;
}

.nav-li, .nav-ul{
  display: inline-block;
  justify-content: center;
  margin-top: 0.6em;
}

.nav1{
  margin-left: 5em;
}

.registration {
  display: inline-block;
  margin-left: 35em;
  padding: 0;
}

.login{
  margin-left: 3em;
}

.search-bar{
  margin-left: 5em;
}

.svg-icon {
  width: 2em;
  height: 2em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #4691f6;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}

.svg-wrap{
  display: flex;
  justify-content: center;
}

svg{
  display: flex;
  justify-content: center;
  margin: 2em 5em;
}

footer{
  border: 2px solid black;
}

.input{
  display: block;
}
