body{
  margin: 0;
  padding: 0;
  font-size: 1em;
}

.svg-icon {
  width: 2em;
  height: 2em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #4691f6;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}

.svg-wrap{
  display: flex;
  justify-content: center;
}

svg{
  display: flex;
  justify-content: center;
  margin: 2em 5em;
}

footer{
  border: 2px solid black;
}

#navbar{
  border: 2px solid black;
  padding-top: 1em;
}

.nav-ul{
  display: flex;
  justify-content: center;
}

.nav-li{
  display: flex;
  text-transform: capitalize;
  justify-content: center;
  margin: 0em 3em;
  padding: 0.5em 1em;
  border: 1px solid black;
}

.search-bar{
  margin-right: 15em;
  margin-left: 2em;
  padding-right: 2em;
}

.registration{
  border: 1px solid black;
}

.login{
  border: 1px solid black;
  margin: 0 0;
}

.input{
  display: block;
}
