{% extends "layout.html" %}
{% block title %}
<title>Home</title>
{% endblock %}
{% block content %}
<h3 class="h3-popular">Популарни филмови</h3>
<div id="slide-button" class="carousel slide">
  <!-- The slideshow -->
  <div class="container1 carousel-inner">
    <div class="carousel-item active">
      {% for movie in movie.popular(page=1)[0:10] %}
      <div class="width_height">
        <a href="/movie/{{ movie.id }}/" target="_blank"><img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2{{ movie.poster_path }}"></a>
        <div class="movie-details">
        <p class="movie-details-text">{{ movie.title }} {{ movie.release_date[0:4] }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="carousel-item">
      {% for movie in movie.popular(page=1)[10:20] %}
      <div class="width_height">
        <a href="/movie/{{ movie.id }}/" target="_blank"><img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2{{ movie.poster_path }}"></a>
        <div class="movie-details">
        <p class="movie-details-text">{{ movie.title }} {{ movie.release_date[0:4] }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="carousel-item">
      {% for movie in movie.popular(page=2)[0:10] %}
      <div class="width_height">
        <a href="/movie/{{ movie.id }}/" target="_blank"><img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2{{ movie.poster_path }}"></a>
        <div class="movie-details">
        <p class="movie-details-text">{{ movie.title }} {{ movie.release_date[0:4] }}</p>
      </div>
      </div>
      {% endfor %}
    </div>
    <div class="carousel-item">
      {% for movie in movie.popular(page=2)[10:20] %}
      <div class="width_height">
        <a href="/movie/{{ movie.id }}/" target="_blank"><img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2{{ movie.poster_path }}"></a>
        <div class="movie-details">
        <p class="movie-details-text">{{ movie.title }} {{ movie.release_date[0:4] }}</p>
      </div>
      </div>
      {% endfor %}
    </div>
    <div class="carousel-item">
      {% for movie in movie.popular(page=3)[0:10] %}
      <div class="width_height">
        <a href="/movie/{{ movie.id }}/" target="_blank"><img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2{{ movie.poster_path }}"></a>
        <div class="movie-details">
        <p class="movie-details-text">{{ movie.title }} {{ movie.release_date[0:4] }}</p>
      </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#slide-button" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#slide-button" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>


<h3 class="h3-popular">Хит филмови</h3>
<div id="slide-button2" class="carousel slide">
  <!-- The slideshow -->
  <div class="container1 carousel-inner">
    <div class="carousel-item active">
      {% for movie in movie.top_rated(page=1)[0:10] %}
      <div class="width_height">
        <a href="/movie/{{ movie.id }}/" target="_blank"><img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2{{ movie.poster_path }}"></a>
        <div class="movie-details">
        <p class="movie-details-text">{{ movie.title }} {{ movie.release_date[0:4] }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="carousel-item">
      {% for movie in movie.top_rated(page=1)[10:20] %}
      <div class="width_height">
        <a href="/movie/{{ movie.id }}/" target="_blank"><img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2{{ movie.poster_path }}"></a>
        <div class="movie-details">
        <p class="movie-details-text">{{ movie.title }} {{ movie.release_date[0:4] }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="carousel-item">
      {% for movie in movie.top_rated(page=2)[0:10] %}
      <div class="width_height">
        <a href="/movie/{{ movie.id }}/" target="_blank"><img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2{{ movie.poster_path }}"></a>
        <div class="movie-details">
        <p class="movie-details-text">{{ movie.title }} {{ movie.release_date[0:4] }}</p>
      </div>
      </div>
      {% endfor %}
    </div>
    <div class="carousel-item">
      {% for movie in movie.top_rated(page=2)[10:20] %}
      <div class="width_height">
        <a href="/movie/{{ movie.id }}/" target="_blank"><img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2{{ movie.poster_path }}"></a>
        <div class="movie-details">
        <p class="movie-details-text">{{ movie.title }} {{ movie.release_date[0:4] }}</p>
      </div>
      </div>
      {% endfor %}
    </div>
    <div class="carousel-item">
      {% for movie in movie.top_rated(page=3)[0:10] %}
      <div class="width_height">
        <a href="/movie/{{ movie.id }}/" target="_blank"><img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2{{ movie.poster_path }}"></a>
        <div class="movie-details">
        <p class="movie-details-text">{{ movie.title }} {{ movie.release_date[0:4] }}</p>
      </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#slide-button2" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#slide-button2" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

<h3 class="h3-popular">Наскоро</h3>
<div id="slide-button3" class="carousel slide">
  <!-- The slideshow -->
  <div class="container1 carousel-inner">
    <div class="carousel-item active">
      {% for movie in movie.upcoming(page=1)[0:10] %}
      <div class="width_height">
        <a href="/movie/{{ movie.id }}/" target="_blank"><img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2{{ movie.poster_path }}"></a>
        <div class="movie-details">
        <p class="movie-details-text">{{ movie.title }} {{ movie.release_date[0:4] }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="carousel-item">
      {% for movie in movie.upcoming(page=1)[10:20] %}
      <div class="width_height">
        <a href="/movie/{{ movie.id }}/" target="_blank"><img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2{{ movie.poster_path }}"></a>
        <div class="movie-details">
        <p class="movie-details-text">{{ movie.title }} {{ movie.release_date[0:4] }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="carousel-item">
      {% for movie in movie.upcoming(page=2)[0:10] %}
      <div class="width_height">
        <a href="/movie/{{ movie.id }}/" target="_blank"><img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2{{ movie.poster_path }}"></a>
        <div class="movie-details">
        <p class="movie-details-text">{{ movie.title }} {{ movie.release_date[0:4] }}</p>
      </div>
      </div>
      {% endfor %}
    </div>
    <div class="carousel-item">
      {% for movie in movie.upcoming(page=2)[10:20] %}
      <div class="width_height">
        <a href="/movie/{{ movie.id }}/" target="_blank"><img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2{{ movie.poster_path }}"></a>
        <div class="movie-details">
        <p class="movie-details-text">{{ movie.title }} {{ movie.release_date[0:4] }}</p>
      </div>
      </div>
      {% endfor %}
    </div>
    <div class="carousel-item">
      {% for movie in movie.upcoming(page=3)[0:10] %}
      <div class="width_height">
        <a href="/movie/{{ movie.id }}/" target="_blank"><img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2{{ movie.poster_path }}"></a>
        <div class="movie-details">
        <p class="movie-details-text">{{ movie.title }} {{ movie.release_date[0:4] }}</p>
      </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#slide-button3" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#slide-button3" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
{% endblock content %}
